/* HSL */
$dark: hsla(210%, 12%, 29%, 1);
$light: hsla(240%, 43%, 97%, 1);
$green: hsla(123%, 54%, 74%, 1);
$purple: hsla(257%, 62%, 71%, 1);
$red: hsla(8%, 80%, 56%, 1);

/* RGB */
$dark: rgba(66, 75, 84, 1);
$light: rgba(245, 245, 251, 1);
$green: rgba(154, 225, 157, 1);
$purple: rgba(162, 136, 227, 1);
$red: rgba(233, 79, 55, 1);
